.container {
    width: 500px;
    background-color: black;
    height: 500px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cell {
    background: #ccc;
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 6rem;
}

.cell:hover {
    cursor: pointer;
}

.player {
    text-align: center;
}